.sectors-card {
    background: none;
    margin: 30px;
    float: left;
    padding: 10px !important;
    text-align:center;
	font-family: Tahoma;
}

@media only screen and (max-width: 600px) {
    .sectors-card {
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }
}
.mat-cell, .mat-footer-cell, .mat-header-cell {
    justify-content: center !important;
}