<mat-card class="sectors-card" *ngIf="sectors?.length > 0">
        <mat-card-header>
            <mat-card-title> Real-Time Sector Performance </mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <div>
                        <!-- <table class="table table-rounded stock-table" [hidden]="stocks.length === 0"> -->
                        <mat-table [dataSource]="sectors" *ngIf="sectors?.length > 0">
                        <!-- Sector Name Column -->
                        <ng-container matColumnDef="sectorName">
                           <mat-header-cell *matHeaderCellDef> Sector Name </mat-header-cell>
                           <mat-cell *matCellDef="let element"> {{element.sectorName}} </mat-cell>
                        </ng-container>
                        <!-- Percent Change Column -->
                        <ng-container matColumnDef="percentChange">
                           <mat-header-cell *matHeaderCellDef> Percent Change </mat-header-cell>
                           <mat-cell *matCellDef="let element" [style.color]="(element.percentChange && element.percentChange.charAt(0)) === '-' ? 'red' : 'green'"> {{element.percentChange}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                     </div>
        </mat-card-content>
    </mat-card>

