<div class="stock-container">
    <div class="stocks">
        <div class="most-active">
            <h3>Stock Screener              
                <a class="glyphicon glyphicon-question-sign" 
                    id="info" title="Stock Hours" 
                    popover="Stock trading hours are from 8:30AM-3PM CST weekdays (exluding holidays).  Data will not refresh outside of these hours. Only stocks traded on NYSE and NASDAQ can currently be added."
                    [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
                </a>
            </h3>
            <div class="bar">
                <input type="text" placeholder="Enter a company name or ticker to add" [(ngModel)]="searchString" 
                (ngModelChange)="getSuggestedStocks($event)" maxlength="35"/>
                <a (click)="addStock()"><img src="/assets/plus.ico" height="20" width="20"/></a>
            </div>
            <div style="min-height:115px">
                <select multiple [(ngModel)]="selectedSuggestedStocks" class="suggested-stocks" size="{{suggestedStocks.length}}" [hidden]="emptySuggestions" (ngModelChange)="suggestedStockSelected($event)">
                    <option *ngFor="let stock of suggestedStocks" [ngValue]="stock">{{stock.symbol}} : {{stock.companyName}}</option>
                </select>
            </div>
            <table class="stock-table stock-table-rounded" [hidden]="stocks.length === 0">
                <thead>
                    <tr>
                        <th> Company Name </th>
                        <th> Symbol </th>
                        <th> Latest Price </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of stocks | sort:stocks">
                        <td>{{ x.companyName }}</td>
                        <td><a (click)="getTickerInfo(x.symbol)">{{ x.symbol }}</a></td>
                        <td>{{ x.latestPrice | currency}}</td>
                        <td><a (click)="deleteStock(x.symbol)"><img src="/assets/delete.ico" height="20" width="20"/></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-stock-detail></app-stock-detail>
        <!-- <div class="watched">
            <div>
                <h2>Watch List</h2>
                <table class="stock-table">
                    <tr>
                        <td> Company Name </td>
                        <td> Symbol </td>
                    </tr>
                    <tr *ngFor="let x of monitoredStocks | sort:monitoredStocks">
                        <td>{{ x.companyName }}</td>
                        <td><a (click)="getTickerInfo(x.symbol)">{{ x.symbol }}</a></td>
                    </tr>
                </table>
            </div>
            <div *ngIf="showMoreDetail" id="detail-section">
                <label>Company Name: {{selectedStockInfo.companyName}} </label>
                <br/>
                <label>Symbol: {{selectedStockInfo.symbol}}</label>
                <br/>
                <label>Latest Price: {{selectedStockInfo.latestPrice}}</label>
                <br/>
                <label>Primary Exchange: {{selectedStockInfo.primaryExchange}}</label>
                <br/>
                <label>Sector: {{selectedStockInfo.sector}}</label>
            </div>
        </div> -->
    </div>
</div>