.login-card {
    padding: 10px !important;
    text-align:center;
    font-family: Tahoma;
    margin: 0 auto;
    max-width: 400px;
}

.mat-card {
    background: #fff;
    color: rgba(0,0,0,.87);
}