<mat-card class="news-card mat-card-main mat-elevation-z24" *ngIf="news?.length > 0">
    <mat-card-header>
        <mat-card-title> Market News </mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <div class="mat-elevation-z8">
                    <!-- <table class="table table-rounded stock-table" [hidden]="stocks.length === 0"> -->
                    <mat-table [dataSource]="news" *ngIf="news?.length > 0">
                    <!-- Sector Name Column -->
                    <ng-container matColumnDef="headline">
                       <mat-header-cell *matHeaderCellDef> Headline </mat-header-cell>
                       <mat-cell *matCellDef="let element"><a [href]="element.url" target="_blank" >{{element.headline}}</a></mat-cell>
                    </ng-container>
                    <!-- Percent Change Column -->
                    <ng-container matColumnDef="source">
                       <mat-header-cell *matHeaderCellDef> Source </mat-header-cell>
                       <mat-cell *matCellDef="let element"> {{element.source}} </mat-cell>
                    </ng-container>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
            </div>
    </mat-card-content>
</mat-card>
