.news-card {
    background: none;
    margin: 30px;
    float: left;
    padding: 10px !important;
    text-align:center;
    font-family: Tahoma;
    max-width: 500px;
}

@media only screen and (max-width: 600px) {
    .news-card {
        width: 100%;
        margin: 12px;
    }
}