<mat-card class="news-card" *ngIf="news?.length > 0">
    <mat-card-header>
        <mat-card-title> Market News </mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <div>
                <mat-table [dataSource]="news" *ngIf="news?.length > 0">
                    <!-- News Title Column -->
                    <ng-container matColumnDef="headline">
                       <mat-header-cell *matHeaderCellDef> Headline </mat-header-cell>
                       <mat-cell *matCellDef="let element"><a [style.color]="'blue'" [href]="element.url" target="_blank" >{{element.title}}</a></mat-cell>
                    </ng-container>
                    <!-- Source Name Column -->
                    <ng-container matColumnDef="source">
                       <mat-header-cell *matHeaderCellDef> Source </mat-header-cell>
                       <mat-cell *matCellDef="let element"> {{element.source.name}} </mat-cell>
                    </ng-container>
                    <!-- Image Column -->
                    <!-- <ng-container matColumnDef="image">
                        <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                        <mat-cell *matCellDef="let element"><img [src]="element.urltoimage"></mat-cell>
                    </ng-container> -->
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
    </mat-card-content>
</mat-card>
