<div class="widget-container">
        <div class="most-active">
            <h3>Stock Screener              
                <a class="glyphicon glyphicon-question-sign" 
                    id="info" title="Stock Hours" 
                    popover="Stock trading hours are from 8:30AM-3PM CST weekdays (exluding holidays).  
                    Data will not refresh outside of these hours. Only stocks traded on NYSE and NASDAQ 
                    can currently be added."
                    [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
                </a>
            </h3>
            <div class="search-bar">
                <input type="text" placeholder="Enter a company name or ticker to add" [(ngModel)]="searchString" 
                (ngModelChange)="getSuggestedStocks(searchString)" maxlength="35"/>
                <a (click)="addStock()"><img src="/assets/plus.ico" height="20" width="20"/></a>
            </div>
            <div style="height:115px">
                <ol class="suggested-stocks" [hidden]="emptySuggestions">
                    <li *ngFor="let stock of suggestedStocks" (click)="suggestedStockSelected(stock)">{{stock.symbol}} : {{stock.companyName}}</li>
                </ol>
            </div>
            <table class="table table-rounded stock-table" [hidden]="stocks.length === 0">
                <thead>
                    <tr>
                        <th> Company Name </th>
                        <th> Symbol </th>
                        <th> Latest Price </th>
                        <th> Percent Change </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of stocks">
                        <td>{{ x.companyName }}</td>
                        <td><a (click)="getTickerInfo(x.symbol)" style="cursor: pointer">{{ x.symbol }}</a></td>
                        <td>{{ x.latestPrice | currency}}</td>
                        <td [style.color]="(x.percentChange && x.percentChange.charAt(0)) === '-' ? 'red' : 'green'">{{ x.percentChange }}</td>
                        <td><a (click)="deleteStock(x.symbol)"><img src="/assets/delete.ico" height="20" width="20"/></a></td>            
                    </tr>
                </tbody>
            </table>
        </div>
        <app-stock-detail></app-stock-detail>
</div>